.destinations-body {

    margin-top: 15px;

}

.destinations-body .clear-fix {

    clear: both;

    width: 100%;

    margin-bottom: 10px;

}

.destinations-body .destinations-left {

    width: calc(100% - 150px);

    float: left;

}

.destinations-body .destinations-left .destinations-content {

    background-color: #ddd;

    position: relative;

    border: 1px solid #ccc;

    height: 250px;

    background-size: 100% 100% !important;

    background-position: center !important;

    background-repeat: no-repeat !important;

}

.destinations-body .destinations-left .destinations-content .marker {

    position: absolute !important;

    height: 15px;

    width: 12px;

    background: url("icon-marker.png");

    background-size: cover;

    background-repeat: no-repeat;

    background-position: left;

}

.destinations-body .destinations-left .destinations-content .marker .marker-close {

    position: absolute;

    right: -10px;

    top: -13px;

    border-radius: 50%;

    height: 15px;

    width: 15px;

    line-height: 15px;

    font-size: 8px;

    text-align: center;

    background: #000;

    color: #fff;

    z-index: 1;

    opacity: 0;

    transition: all 0.4s;

}

.destinations-body .destinations-left .destinations-content .marker .des-title {

    position: relative;

    display: none;

    background: #000;

    padding: 3px 6px;

    color: #fff;

    top: 0;

    left: 0;

    font-size: 12px;

}

.destinations-body .destinations-left .destinations-content .marker .des-title:after {

    content: '';

    position: absolute;

    left: 100%;

    top: 0;

    border-top: 23px solid transparent;

    border-left: 17px solid #000;

}

.destinations-body .destinations-left .destinations-content .marker:hover .marker-close {

    opacity: 1;

}

.destinations-body .destinations-right {

    width: 130px;

    height: 250px;

    float: right;

    padding-left: 20px;

}

.destinations-body .destinations-right .add-destination {

    margin-top: 20px;

}