.fc-content .tooltip {
    width: max-content;
}

.guest-check-out input {
    padding: 5px;
}

#menu1 {
    position: absolute;
    top: 0;
    right: 0;
}

.package_info_2.item {
    min-height: 33px;
    overflow: hidden;
    height: auto !important;
    position: relative;
}

.package_info_2.item > div.title {
    position: absolute;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.package_info_2.item div.head {
    padding-left: 22% !important;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.package_info_2.item div.head ul {
    margin-bottom: 0px;
    padding-left: 0px;
}

@media (min-width: 992px) {
    ul.slimmenu.collapsed li .sub-toggle{
        width: 40px !important;
        height: 40px !important;
        right: 0px !important;
    }

    ul.slimmenu li .sub-menu .sub-toggle{
    }
    #main-header, #menu1{
        background-color: #4d4d4d  !important;
    }
    .home  #main-header, #menu1{
        background-color: transparent !important;
    }
    .nav-drop > .nav-drop-menu.user_nav_big {
        margin-top: 50px;
        right: 100px;
        position: fixed;
    }

    .top-user-area .top-user-area-list .fa-angle-down.login:before, .top-user-area .top-user-area-list .fa-angle-up.login:before {
        content: "\f007";
        color: #7c7474;
        padding: 10px 10px;
    }

    .top-user-area .top-user-area-list .fa-angle-down.login, .top-user-area .top-user-area-list .fa-angle-up.login {
        font-size: 18px;
        border-radius: 20px;
        background: #fff;
        height: 35px;
        position: fixed;
        top: 14px;
        margin-right: 120px;
    }

    .menu-collapser {
        display: block !important;
        background-color: transparent !important;
    }

    .menu-collapser > a:first-child {
        display: none !important;
    }

    .menu-collapser .collapse-button {
        top: 37px !important;
        border: 1px solid;
        border-radius: 1px !important;
        position: fixed;
        float: right;
        padding: 12px 15px !important;
        margin-right: 50px;
        width: 50px !important;
    }

    .main_menu_wrap#menu1 {
        width: 350px;
        float: right;
        height: 0;
        background: #d2d2d2;
        border-bottom: none;
    }

    ul.slimmenu > li {
        width: 100%;
        background: #d2d2d2;
    }

    #main-header .main_menu_wrap#menu1 .slimmenu {
        background: #d2d2d2;
        margin-top: 32px !important;
        right: -333px;
        position: fixed;
        height: calc(100% - 80px) !important;
        width: 333px;
        overflow-y: auto;
        display: block !important;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    #main-header .main_menu_wrap#menu1 .slimmenu.active{
        right: 0px;
    }

    .top-user-area .top-user-area-list {
        position: fixed;
        top: 14px;
        margin-right: 130px;
    }

    .logged-in .top-user-area .top-user-area-list {
        position: fixed;
        top: 50px;
        margin-right: 120px;
    }

    .col-md-5 {
        width: 41.66666667%;
    }
    .main-search .col-md-5:first-child {
        padding-right: 0px !important;
    }
    .main-search .col-md-5:last-child {
        padding: 0px !important;
    }
    .main-search button[type="submit"]{
        position: relative;
        left: -16px !important;
    }

    .search-tabs-bg > .tabbable > .nav-tabs {
        display: none;
    }

    .search-tabs-bg .tab-content .btn-primary.btn-lg {
        margin-top: -85px;
        float: right;
        position: relative;
        border-radius: 0px 40px 40px 0px;
        background: #323434;
        border-color: #323434;
        height: 60px;
    }

    .search-tabs-bg > .tabbable > .tab-content > .tab-pane {
        background: transparent !important;
        padding: 0 !important;
    }

    .search-tabs-bg > .tabbable > .tab-content > .tab-pane .form-control {
        background: #fff !important;
        height: 60px;
    }

    .search-tabs-bg > .tabbable > .tab-content > .tab-pane .form-control#field-tour-tax-st_tour_type {
        border-left: none;
    }

    .search-tabs-bg > .tabbable > .tab-content > .tab-pane .form-control#field-tour-address {
        border-radius: 40px 0px 0px 40px;
        border-right: 1px dashed;
    }

    .logged-in .menu-collapser .collapse-button {
        top: 70px;
    }

    .logged-in .top-user-area .top-user-area-list > li.top-user-area-avatar, .logged-in .top-user-area .top-user-area-list > li.top-user-area-avatar + li {
        float: right;
    }

    #search-icon:active + .twitter-typeahead {
        display: block !important;
    }

    #search-icon + .twitter-typeahead {
        display: none !important;
    }

    #search-icon:active + .twitter-typeahead:hover {
        display: block !important;
    }

    .main-header-search > .form-group {
        float: right;
        padding-right: 20px;
        height: 24px;
    }

    .search.main-search .form-group.form-group-lg .input-icon.fa-map-marker {
        padding-top: 7px;
    }

    #top_toolbar {
        background: transparent !important;
        position: absolute;
        width: 50% !important;
        margin-top: 20px;
        z-index: 1 !important;
    }

    #main-header .header-top .col-md-3 {
        width: 50%;
    }

    #main-header .header-top .col-md-9 {
        width: 40%;
        float: right;
        z-index: 9999;
    }

    #main-header .logo {
        margin-left: 202px;
        z-index: 9999;
        position: relative;
    }

    .header-top {
        background-color: transparent !important;
        padding: 20px 0 !important;
    }

    .menu-content {
        max-height: 0;
        overflow: hidden;
    }

    input.yes:checked ~ .menu-content {
        max-height: 100%;
    }

    .menu-content input::placeholder {
        padding-left: 15px;
    }
}

.twitter-typeahead {
    overflow: hidden;
    height: 100%;
}

input:checked ~ .twitter-typeahead {
    max-height: 100%;
    overflow: visible;
    width: 100%;
    margin-top: -5px;
}

.list-horizontal.list-border > li:last-child {
    padding-right: 10px !important;
}

body.menu_style1 #st_header_wrap .is-sticky>*{
    width: 100% !important;
}
body.menu_style1 #st_header_wrap .is-sticky .header-top{
    background: #4d4d4d !important;
}
.user-content .modal-info-booking.in .modal-dialog {
    /*margin: 12vh auto 0px auto*/
    width:inherit;
    max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}


.main-header-search{
    margin-right: 0px !important;
    top: 0 !important;
}
.twitter-typeahead.loading:before{
    margin-top: -11px !important;
}
.pl0{
    padding-left: 0px !important;
}
.top-user-area-shopping a{
    color: #fff !important;
}
.traveler-cart-mini.open{
    top: 35px !important;
}
.my-account .dropdown-toggle .fa.fa-user-circle{
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 29px;
    margin-left: 0px;
    padding-left: 0px !important;
    opacity: 0.9 !important;
}
.my-account .fa.fa-user-circle:before{
    content: "\f007" !important;
}
.my-account .dropdown-toggle .fa.fa-user-circle:before{
    color: #fff;
    content: "\f007" !important;
    color: #7c7474;
    padding: 10px 10px;
    font-size: 22px;
}
.is_login .dropdown-menu{
    top: 45px !important;
    width: max-content;
}
.is_login .dropdown-toggle img{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px;
}
.st_login_form_popup .btn-submit-form button{
    height: 40px;
    line-height: 29px;
}
.st_login_form_popup .btn-submit-form button img{
    margin-left: 10px;
}
.st_login_form_popup .notice_login{
    margin-top: 10px;
}
.st_login_form_popup .notice_login .alert {
    margin-bottom: 0px;
    padding: 10px 15px;
}
.st_login_form_popup .notice_login .alert .close{
    line-height: 14px;
}
.search-line-item strong{
    color: #333 !important;
}

.main-search .form-group-icon-left .fa-sort{
    display: none;
}

/* Map */
.oceaus-destination .content-right {
    padding-top: 110px;
}
.oceaus-destination .destination-map {
    position: relative;
    width: 100%;
}
.oceaus-destination .destination-map img {
    width: 100%;
}
.oceaus-destination .destination-map .location {
    position: absolute;
    width: 66px;
    z-index: 1;
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    -ms-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    -ms-animation-duration: 1s;
    animation-duration: 1s;
}
.oceaus-destination .destination-map .location .caption {
    position: relative;
    width: 100%;
    min-height: 60px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.oceaus-destination .destination-map .location .caption .name {
    color: #fff;
    font-weight: 900;
    font-size: 10px;
    text-transform: uppercase;
}
.oceaus-destination .destination-map .location a {
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    transition: all 0.4s;
}
.oceaus-destination .destination-map .location a:hover {
    text-decoration: none;
}
.oceaus-destination .destination-map .location a:focus {
    text-decoration: none;
}
.oceaus-destination .destination-map .location .oceaus-relative {
    width: 100%;
    min-height: 84px;
    background-image: url(marker-blue.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.oceaus-destination .destination-map .location .count {
    position: absolute;
    width: 37px;
    height: 37px;
    line-height: 37px;
    background: #000;
    color: #FFF;
    text-align: center;
    border-radius: 50%;
    right: -18px;
    top: -18px;
    font-size: 12px;
    font-weight: 900;
    z-index: 3;
    transition: all 0.2s;
}
.oceaus-destination .destination-map .location .pulse {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    bottom: -5px;
    left: 38px;
    margin: 11px 0px 0px -12px;
    -webkit-transform: rotateX(55deg);
    -moz-transform: rotateX(55deg);
    -o-transform: rotateX(55deg);
    -ms-transform: rotateX(55deg);
    transform: rotateX(55deg);
    z-index: -2;
}
.oceaus-destination .destination-map .location .pulse:after {
    content: "";
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    margin: -13px 0 0 -13px;
    -webkit-animation: pulsate 1s ease-out;
    -moz-animation: pulsate 1s ease-out;
    -o-animation: pulsate 1s ease-out;
    -ms-animation: pulsate 1s ease-out;
    animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-box-shadow: 0 0 1px 2px #89849b;
    box-shadow: 0 0 1px 2px #89849b;
    -webkit-animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
    -o-animation-delay: 1.1s;
    -ms-animation-delay: 1.1s;
    animation-delay: 1.1s;
}
.oceaus-destination .destination-map .location.tax-marker-image .location-hover {
    transition: all 0.2s;
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    bottom: 0;
    z-index: -3;
    width: 60px;
    height: 84px;
    left: 0;
    opacity: 0;
}
.oceaus-destination .destination-map .location.tax-marker-image:hover .location-hover {
    z-index: 1;
    width: 90px;
    height: 120px;
    left: -13px;
    opacity: 1;
}
.oceaus-destination .destination-map .location.tax-marker-image:hover .count {
    right: -24px;
    top: -50px;
}
.oceaus-destination .destination-map .location.tax-marker-image:hover .default-marker {
    min-height: 100px;
    bottom: 8px;
}
.oceaus-destination .description {
    margin-top: 20px;
    margin-bottom: 45px;
    font-size: 15px;
    color: #959595;
    text-align: center;
}
.oceaus-destination .list-destination {
    text-align: center;
    width: 100%;
}
.oceaus-destination .list-destination ul {
    list-style: none;
    display: inline-block;
    margin-left: 0;
}
.oceaus-destination .list-destination ul li.item {
    margin-right: 40px;
    margin-bottom: 15px;
    display: inline-block;
}
.oceaus-destination .list-destination ul li.item:last-child {
    margin-right: 0;
}
.oceaus-destination .list-destination ul li.item span {
    font-size: 14px;
    color: #6684f2;
}
.oceaus-destination .list-destination ul li.item span a {
    font-weight: 900;
    color: #000;
    transition: all 0.4s;
}
.oceaus-destination .list-destination ul li.item span a:hover {
    color: #6684f2;
    text-decoration: none;
}
@media (max-width: 520px) {
    .oceaus-destination .list-destination ul {
        display: block;
        list-style: outside none none;
        margin: 0px;
    }
    .oceaus-destination .list-destination ul:before,
    .oceaus-destination .list-destination ul:after {
        content: " ";
        display: table;
        clear: both;
    }
    .oceaus-destination .list-destination ul li.item {
        margin-right: 0px;
        float: left;
        width: 50%;
    }
}
.oceaus-destination .destination-link {
    text-align: center;
    margin-top: 5px;
}
.oceaus-destination .destination-link .all-destinations {
    border: 1px solid #000;
    color: #000;
    font-size: 12px;
    padding: 0 55px;
}
.oceaus-destination .destination-link .all-destinations:hover {
    color: #fff;
}
@-moz-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        -moz-transform: scale(0.1, 0.1);
        -o-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    50% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}
@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        -moz-transform: scale(0.1, 0.1);
        -o-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    50% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}
@-o-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        -moz-transform: scale(0.1, 0.1);
        -o-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    50% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}
@keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        -moz-transform: scale(0.1, 0.1);
        -o-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    50% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}
@-moz-keyframes bounce {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -webkit-transform: translateY(-2000px);
        -moz-transform: translateY(-2000px);
        -o-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
    60% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -o-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px);
    }
    80% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes bounce {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -webkit-transform: translateY(-2000px);
        -moz-transform: translateY(-2000px);
        -o-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
    60% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -o-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px);
    }
    80% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@-o-keyframes bounce {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -webkit-transform: translateY(-2000px);
        -moz-transform: translateY(-2000px);
        -o-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
    60% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -o-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px);
    }
    80% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes bounce {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -webkit-transform: translateY(-2000px);
        -moz-transform: translateY(-2000px);
        -o-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
    60% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -o-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px);
    }
    80% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

/* Custom new */
.twitter-typeahead {
    display: contents !important;
}
.topbar .top-bar-style-7 .control-right .option-item .option-mid .oceaus-menu-position-right .nav-icon-bar .nicescroll-cursors {overflow-y: scroll;}
.topbar .top-bar-style-7 .control-right .option-item .option-mid .oceaus-menu-position-right .content-menu .dl-content-menu .oceaus_dl_desktop_menu { height: 500px;}

.topbar .top-bar-style-7 .control-right .option-item .option-mid .oceaus-menu-position-right .content-menu.active {
    z-index: 99999;
}
.topbar .top-bar-style-7 .control-right .option-item .option-mid .oceaus-menu-position-right .content-menu {padding-top: 170px;}


.custom-list-tour-3 .thumb-caption:before {
    border-color: transparent transparent #f0f0f0;
    border-style: solid;
    border-width: 0 55px 35px;
    content: " ";
    height: 0;
    left: 0;
    margin: auto;
    opacity: 1;
    position: absolute;
    right: 0;
    top: -50px;
    width: 0;
    z-index: 9;
}
.custom-list-tour-3 .thumb-caption {
    padding-top: 5px;
    position: relative;
    padding-bottom: 10px;
}

.custom-list-tour-3 .thumb:hover .thumb-caption h5.hover-title.hover-hold {color: #6684f2 !important;}

.custom-list-tour-3 .thumb:hover .thumb-caption a.btn.btn-primary {
    background: #6684f2 !important;
    border-color: #6684f2 !important;

}

.topbar .top-bar-style-7 {
    height: 120px;
    position: relative;
    width: 100%;
    top: 0px;
    background: #333;
}
.home .topbar .top-bar-style-7 {
    height: 120px;
    position: absolute;
    width: 100%;
    top: 0px;
    background: transparent;
}

.page-template-template-tour-search .search.main-search .form-group.form-group-lg .input-icon.fa-map-marker {padding-top: 0px;}
.page-template-template-tour-search .search.main-search .form-group.form-group-lg.form-group-icon-left .form-control {border-top: 0;
    border-right: 0;
    border-left: 0;
}
.page-template-template-tour-search .search.main-search .form-group.form-group-lg .fa-sort.input-icon {display: none;}
.page-template-template-tour-search .search.main-search .form-group.form-group-lg.form-group-icon-left .form-control#field-tour-item_id {
    padding-left: 0;
}
.page-template-template-tour-search .search.main-search button[type="submit"] {
    position: relative;
    left: 0px !important;
    background: #a3a3a3;
    border-color: #a3a3a3;
    border-radius: 30px;
    padding: 8px 35px;
}
.page-template-template-tour-search .breadcrumb {
    position: absolute;
    z-index: 9;
    width: 100%;
    background-color: transparent;
    text-align: center;
    top: 115px;
}
.page-template-template-tour-search .breadcrumb>.active,.page-template-template-tour-search .breadcrumb>li>a {
    color: #fff;
}
.page-template-template-tour-search .booking-title {
    text-align: center;
    color: #fff;
}
.page-template-template-tour-search .booking-title>small {display: none;}

.sort_top {
    background: #7f767626;
}
.page-template-template-tour-search .breadcrumb>li+li:before {
    color: #fff;
}
.style_box .custom-tour-grid-3.thumb:hover .thumb-caption .btn.btn-primary {
    background: #6684f2 !important;
    border-color: #6684f2 !important;
}
.style_box .custom-tour-grid-3.thumb:hover {border: 1px solid #14141426;}
.style_box .custom-tour-grid-3.thumb:hover .thumb-caption h5.thumb-title a {color: #6684f2 !important;}

.st-option-wrapper.option-wrapper {
    background: #333 !important;
    width: 290px !important;
    margin-left: 33px;
}
.st-option-wrapper.option-wrapper a {color: #fff;}
.irs-slider {
    width: 20px;
    height: 20px;
    top: 21px;
    background: #333 !important;
    border-radius: 20px;
}
.irs-bar {
    height: 10px;
    top: 26px;
    background: #808080;
    border-color: #a3a3a3;

}
.page-template-template-tour-search ul.booking-list.loop-tours.style_list li:hover .booking-item-title {color: #6684f2 !important;}
.page-template-template-tour-search ul.booking-list.loop-tours.style_list li:hover .btn.btn-primary {
    background: #6684f2 !important;
    border-color: #6684f2 !important;
}
.price-section span.text-lg.lh1em.item {color: #6684f2 !important;}

#info-booking-modal{
    /*display: flex !important;*/
    height: 100%;
}
#info-booking-modal .modal-dialog{
    margin: auto;
    margin-top: 100px;
}
.ct-page-result{
    padding-left: 100px;
    padding-right: 100px;
}

@media(min-width: 980px){
    .ct-new-menu{
        display: none !important;
    }
}

@media(max-width: 980px){
    .ct-page-result{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 991px) {
    .search-tabs #myTab{
        display: none;
    }

    .search-tabs .tab-content .tab-pane{
        background: #000  !important;
        margin-top: 30px;
    }
    .search-tabs .tab-content .tab-pane .form-group-icon-left .fa{
        display: none;
    }
    .search-tabs .tab-content .tab-pane .st-location-name::placeholder{
        color: #fff;
    }
    .search-tabs .tab-content .tab-pane .st-location-name,
    .search-tabs .tab-content .tab-pane select{
        background: #000 !important;
        border: none;
        border-bottom: 1px solid #fff;
        padding-left: 0px !important;
        margin-bottom: 20px;
        color: #fff;
    }
    .search-tabs .tab-content .tab-pane button[type="submit"] {
        display: block;
        margin: auto;
        background: #6684f2;
        border: none;
        border-radius: 0px;
    }

    .st-option-wrapper.option-wrapper {
        background: #333 !important;
        margin-left: 0;
    }

    .package-info-wrapper.packge-info-wrapper-style2 .col-md-6{
        margin-top: 20px;
    }
}
.booking-filters.booking-filters-white {
    border: none;
    padding: 0;
    background-color: transparent !important;
}
.booking-filters.booking-filters-white h3{
    display: none;
}
.booking-filters.booking-filters-white .list.booking-filters-list{
    border: none;
}
.booking-filters.booking-filters-white .list.booking-filters-list>li{
    border-top: none !important;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 30px;
    padding-right: 30px;
}
.booking-filters.booking-filters-white .list.booking-filters-list li h5{
    font-weight: bold;
}
.booking-filters.booking-filters-white .list.booking-filters-list .irs-slider.from,
.booking-filters.booking-filters-white .list.booking-filters-list .irs-slider.to{
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.booking-filters.booking-filters-white .list.booking-filters-list .irs-grid{
    display: none;
}
.booking-filters.booking-filters-white .list.booking-filters-list .irs-bar,
.booking-filters.booking-filters-white .list.booking-filters-list .irs-line{
    height: 9px;
    top: 27px;
    border-radius: 20px;
}
.booking-filters.booking-filters-white .list.booking-filters-list .irs-bar{
    background: #6684f2;
}
.booking-filters.booking-filters-white .list.booking-filters-list li button{
    margin-top: 4px;
    background: transparent;
    border: 1px solid #333;
    border-radius: 50px;
    color: #333;
    padding: 4px 15px;
}
.booking-filters.booking-filters-white .list.booking-filters-list li button:hover{
    background: #333;
    color: #fff;
}

.page-template-template-tour-search .breadcrumb{
    display: none !important;
}
.ct-display{
    text-transform: uppercase;
    position: relative;
    top: -3px;
}
.sort_top{
    background: transparent !important;
}
.sort_top .sort_icon{
    padding-top: 0px !important;
}
.ajax-filter-wrapper-layout a{
    color: #a3a3a3 !important;
}
.ajax-filter-wrapper-layout a.active{
    color: #6684f2 !important;
}
.ajax-filter-wrapper-order a{
    background: #dfe5e8;
    -webkit-border-radius: 40px !important;
    -moz-border-radius: 50px !important;
    border-radius: 50px !important;
    margin-right: 10px;
    padding: 3px 11px !important;
    color: #333;
    margin-bottom: 5px;
}
.ajax-filter-wrapper-order a:hover{
    color: #6684f2;
}
.booking-list.loop-tours.style_list  .booking-item-address{
    display: none;
}
.booking-list.loop-tours.style_list  .booking-item{
    padding: 0;
    border: none !important;
    margin-top: 40px;
}
.booking-list.loop-tours.style_list  .booking-item:hover .booking-item-img-wrap img{
    transition: all 0.3s;
    transform: scale(1.1);
}
.booking-list.loop-tours.style_list  .booking-item:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.booking-item-rating{
    border-bottom: 0px !important;
}
.booking-row{
    /*display: flex;
    align-items: center;*/
}
.booking-list.loop-tours.style_list  .booking-row .booking-minfo{
    margin-top: 2%;
}
.booking-list.loop-tours.style_list  .booking-row .price-section{
    margin-top: 1.5%;
}
.booking-list.loop-tours.style_list  .booking-row .booking-item-img-wrap{
    overflow: hidden;
}
.booking-list.loop-tours.style_list  .booking-row .booking-item-rating .add-item-to-wishlist{

}


@media (max-width: 1350px){
    .booking-row .booking-minfo,
    .booking-row .price-section{
        margin-top: 0px;
    }
}

@media (max-width: 991px){
    .booking-list.loop-tours.style_list .booking-item-img-wrap{
        margin-bottom: 15px;
    }
    .booking-list.loop-tours.style_list  .booking-item{
        text-align: center;
    }
    .booking-list.loop-tours.style_list  .booking-row .booking-minfo{
        border-right: 0px !important;
    }
    .booking-list.loop-tours.style_list .ct-ifs{
        display: inline-flex;
        text-align: center;
        align-items: baseline;
    }
    .booking-list.loop-tours.style_list .price-section{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }
    .booking-list.loop-tours.style_list .ct-ifs .booking-item-price-from{
        margin-right: 5px;
        margin-left: 5px;
    }
    .booking-list.loop-tours.style_list .price-section a{
        display: block;
        overflow: hidden;
        text-align: center;
        margin-top: 20px;
        width: auto !important;
    }
    .booking-list.loop-tours.style_list .price-section a span{
        float: none;
        width: auto !important;
    }
    .booking-list.loop-tours.style_list  .booking-item:hover{
        box-shadow: 0px 2px 6px #ccc;
    }
}